body{
    font-family: "mojangles";
    font-size: 70px
}
#pokemon_stand{
    position: absolute;
    top: 720px
}
#logo{
    position: absolute;
    top: 770px;
    left: 60px
}
#what_will_you_do_{
    color: white;
    position: absolute;
    top: 790px;
    left: 80px
}
.button_fi{
    position: absolute;
    font-family: "mojangles";
    left: 990px;
    top: 770px;
    z-index: 1;
    width: 430px;
    height: 120px;
    font-size: 80px;
    color: #4C4C4C;
    background-image: url('skins/fight.png')
}
.button_fi:hover{
    color: white;
    background-image: url('skins/fight_hover.png')
}
.button_po{
    position: absolute;
    font-family: "mojangles";
    left: 990px;
    top: 900px;
    z-index: 1;
    width: 430px;
    height: 120px;
    font-size: 80px;
    color: #4C4C4C;
    background-image: url('skins/pokemon.png')
}
.button_po:hover{
    color: white;
    background-image: url('skins/pokemon_hover.png')
}
.button_ba{
    position: absolute;
    font-family: "mojangles";
    left: 1440px;
    top: 770px;
    z-index: 1;
    width: 430px;
    height: 120px;
    font-size: 80px;
    color: #4C4C4C;
    background-image: url('skins/bag.png')
}
.button_ba:hover{
    color: white;
    background-image: url('skins/bag_hover.png')
}
.button_ru{
    position: absolute;
    font-family: "mojangles";
    left: 1440px;
    top: 900px;
    z-index: 1;
    width: 430px;
    height: 120px;
    font-size: 80px;
    color: #4C4C4C;
    background-image: url('skins/run.png')
}
.button_ru:hover{
    color: white;
    background-image: url('skins/run_hover.png')
}