/*
	@name web_1920___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative;  overflow: hidden;  }

#content-container > div{ position: relative; top:inherit; }
#page_web_1920___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	overflow:hidden;
}

#_bg__web_1920___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,255,255,255);
}

#group_1 {
	top: 720px;
	left: 0px;
	width: 1920px;
	height: 360px;
}

#pokemon_stand {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 360px;
}


#fight {
	top: 770px;
	left: 990px;
	width: 430px;
	height: 120px;
}


#bag {
	top: 770px;
	left: 1440px;
	width: 430px;
	height: 120px;
}


#pokemon {
	top: 900px;
	left: 990px;
	width: 430px;
	height: 120px;
}


#run {
	top: 900px;
	left: 1440px;
	width: 430px;
	height: 120px;
}


#fight_ek1 {
	top: 786px;
	left: 1093px;
	width: 229px;
	height: 104px;
	font-family: Mojangles;
	font-size: 80px;
	text-align: left;
	color:#4c4c4c;
}


#pok_mon {
	top: 916px;
	left: 1037px;
	width: 341px;
	height: 104px;
	font-family: Mojangles;
	font-size: 80px;
	text-align: left;
	color:#4c4c4c;
}


#bag_ek1 {
	top: 786px;
	left: 1583px;
	width: 149px;
	height: 104px;
	font-family: Mojangles;
	font-size: 80px;
	text-align: left;
	color:#4c4c4c;
}


#run_ek1 {
	top: 916px;
	left: 1583px;
	width: 149px;
	height: 104px;
	font-family: Mojangles;
	font-size: 80px;
	text-align: left;
	color:#4c4c4c;
}


#logo {
	top: 770px;
	left: 61px;
	width: 820px;
	height: 260px;
}


#what_will_you_do_ {
	top: 790px;
	left: 80px;
	width: 684px;
	height: 91px;
	font-family: Mojangles;
	font-size: 70px;
	text-align: left;
	color:#ffffff;
}



/* Add your custom CSS here */
