/*
	@name web_1920___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative;  overflow: hidden;  }

#content-container > div{ position: relative; top:inherit; }
#page_web_1920___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	overflow:hidden;
}

#_bg__web_1920___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,255,255,255);
}

#group_1 {
	top: 720px;
	left: 0px;
	width: 1920px;
	height: 360.00006103516px;
}

#pokemon_stand {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 360.00006103516px;
}


#fight {
	top: 760px;
	left: 998px;
	width: 434px;
	height: 128px;
}


#bag {
	top: 760px;
	left: 1452px;
	width: 434px;
	height: 128px;
}


#pokemon {
	top: 908px;
	left: 998px;
	width: 434px;
	height: 128px;
}


#run {
	top: 908px;
	left: 1452px;
	width: 434px;
	height: 128px;
}


#fight_ek1 {
	top: 760px;
	left: 1103px;
	width: 229px;
	height: 104px;
	font-family: Mojangles;
	font-size: 80px;
	text-align: left;
	color:#ffffff;
}


#pok_mon {
	top: 908px;
	left: 1047px;
	width: 341px;
	height: 104px;
	font-family: Mojangles;
	font-size: 80px;
	text-align: left;
	color:#ffffff;
}


#bag_ek1 {
	top: 760px;
	left: 1597px;
	width: 149px;
	height: 104px;
	font-family: Mojangles;
	font-size: 80px;
	text-align: left;
	color:#ffffff;
}


#run_ek1 {
	top: 908px;
	left: 1597px;
	width: 149px;
	height: 104px;
	font-family: Mojangles;
	font-size: 80px;
	text-align: left;
	color:#ffffff;
}


#logo {
	top: 760px;
	left: 60px;
	width: 840px;
	height: 280px;
}


#what_will_you_do_ {
	top: 793px;
	left: 141px;
	width: 684px;
	height: 91px;
	font-family: Mojangles;
	font-size: 70px;
	text-align: left;
	color:#32323b;
}



/* Add your custom CSS here */
